@model Car

 <div class ="col-lg-4">
            <img class ="img-thumbnail" src ="@Model.img" alt ="@Model.name" />
           
            <h2>Model: @Model.name</h2>
            
            <p>Price: @Model.price.ToString("c")</p>
            <a asp-action="Edit" asp-controller="Car" asp-route-id="@Model.id">Изменить</a>

            <p><a class ="btn btn-outline-warning" asp-controller="ShopCart" asp-action="addToCart"asp-route-id="@Model.id">Добавить в корзину</a><p/>
            </div>